.custom-detail-modal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    max-height: 90%;
    overflow-y: auto;
  }
  
  .detail-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* 항목의 너비를 100%로 설정 */
  }
  
  .detail-list li {
    margin-bottom: 10px; /* 항목 간 간격 */
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%; /* 항목을 너비 100% 차지하게 설정 */
  }
  
  h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #007bff;
    font-weight: bold;
  }
  