.custom-navbar {
  padding: 10px 20px;
}

/* 버튼 간 간격 추가 */
.nav-button {
  margin-right: 10px;
}

/* 우측 정렬을 위한 스타일 */
.navbar-text {
  margin-left: auto; /* 우측으로 정렬 */
  font-size: 1rem;
  color: #333;
}
